html, body {
    width: 950px;
  margin: 50px auto;
  align-items: center;
}

canvas {
  display: block;
}

p{
  text-align:center;
  font-size: 25px
}

.link-barbearia{
  font-family: 'Righteous', cursive;
  text-decoration: none;
}

.script{
  margin: 20px auto;
}

header{
  background: #bbbbbb;
  padding-top: 20px 0;
}

body h1, h2{
  font-family: 'Montserrat', sans-serif;
}

nav{
  position: absolute;
  top: 120px;
  right: 0;
}

.caixa{
  position: relative;
  width: 940px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
}

nav a{
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover{
  color: chartreuse;
  text-decoration: underline;
}