html, body {
    margin: 5;
    padding: 5;
    align-items: center;
  }

  canvas {
    display: block;
  }

  p{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align:center;
    font-size: 25px
  }