header {
    background: #bbbbbb;
    padding-top: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.principal,
.beneficios {
    margin: 50px auto;
    width: 950px;
}

body h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: absolute;
    top: 120px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: chartreuse;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 15px;
}

.produtos li:hover {
    border: 2px solid #7d34d1;
    border-radius: 40px;
}

.produtos li:hover h2 {
    color: #20b459;
}

.produtos li:active {
    border: 2px solid #20b459;
    border-radius: 60px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.preco-produto {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.produto-descricao {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    color: #ffffff;
    background-image: url(img/bg.jpg);
    text-align: center;
    padding: 40px 0;
    text-decoration: none;
}

.copyright {
    margin: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

/* Desta parte em diante as classes são referentes à página "contato.html" */

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 5px 0;
}

.input-padrao {
    display: block;
    margin: 0 0 20px 0;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 25px;
    width: 50%;
}

.radio-margin {
    margin-right: 5px;
}

.checkbox {
    margin: 20px 0;
}

select {
    margin: 5px 0;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
}

.button {
    background-color: #230741;
    color: white;
    box-shadow: 1px 1px 5px;
    border: inset 1px transparent;
    border-radius: 5px;
    margin: 20px 0;
    padding: 8px;
    width: 40%;
    font-weight: bold;
    font-size: 18px;
    transition: 1s all;
}

.button:hover {
    background-color: #9e9e9e;
    box-shadow: 2px 2px 5px;
    border: inset solid 1px #ffffff;
    cursor: pointer;
    transform: scale(1.2);
}

.button:active {
    background-color: #e787f0;
    box-shadow: none;
    border: solid 1px #000000;
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555555;
    color: #ffffff;
    font-size: 18px;
}

td,
th {
    border: solid #cccccc 1px;
    padding: 8px 15px;
}

/* css da página inicial */

.box-sobre,
.beneficios {
    width: 950px;
    margin: 50px auto;
}

.itens:before {
    content: "🚩 ";
}

.titulo2:before {
    content: "[ ";
}

.titulo2:after {
    content: " ]";
}

.titulo2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    margin: 1em 0;
}

.box-sobre p {
    margin: 0 0 1em;
}

.imagembeneficios {
    width: 60%;
}

.itens {
    line-height: 1.5;
}

.itens:nth-child(2n) {
    /* pega os itens pares da lista e coloca em negrito! */
    font-weight: bold;
}

.mapa {
    width: 950px;
    margin: 50px auto;
}

/* tornando o site responsivo */

@media screen and (max-width:990px) {
    body {
        padding: 20px;
    }

    .caixa {
        width: auto;
    }
}