body{
    
}

#banner1 {
    width: 100%;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align:center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
    background-color: #d12626;
}

p{
    text-align:center
}

#missao {
    font-size: 25px
}

em strong{
    color: #d12626
}

.itens {
    font-size: 20px;
    font-style: italic;
}

.beneficios{
    background-color: #ffffff;
    padding: 20px;
}
.principal{
    background-color: gray;
    padding: 30px    
}
.imagem2{
    display: inline-block;
    width: 50%;
    padding: 30px;
}

